.container .contact {
    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 70px;
  }
  .container .contact .map-area {
    width: 50%;
  }
  .container .contact .map-area iframe {
    width: 100%;
    height: 100%;
  }
  .container .contact .form-area {
    width: 50%;
  }
  .container .contact .form-area form {
    display: flex;
    flex-direction: column;
  }
  .container .contact .form-area form input,
  .container .contact .form-area form textarea {
    padding: 10px;
    font-size: 17px;
    outline: none;
    margin: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    resize: none;
  }
  .container .contact .form-area form textarea {
    height: 150px;
  }
  .container .contact .form-area form button {
    border: none;
    font-size: 18px;
    background-color:#E72339 ;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  .container .contact .form-area form button:hover {
    background-color:#E72339;
    transition: all 0.3s ease-in-out;
  }